.main-form-section{
    background: url(../img/main-background.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-section-wrapper {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 75px 20px;
}
.form-header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.form-section-wrapper form {
    width: 600px;
    box-shadow: 0 0 20px #00000030;
    padding: 40px;
    background: #fff;
}
.form-group {
    display: flex;
    position: relative;
}
.form-input {
    padding: 17px 20px;
    width: 100%;
    background: #fff;
    font-size: 14px;
    transition: .2s;
    outline: 0;
    border: 1px solid #eee;
    border-radius: 10px;
}
.form-wrapper {
    margin: 15px 0;
}
.form-wrapper label {
    font-size: 12px;
    color: #5b5656;
    display: block;
    margin-bottom: 5px;
}
.sign-in-text ul li {
    font-size: 12px;
}
.sign-in-text ul li {
    font-size: 12px;
}
.sign-in-text {
    padding: 20px 0;
    padding-top: 0;
}
.s-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.submit-button {
    border: 0;
    background: #eabd87;
    padding: 15px 20px;
    display: block;
    width: 100%;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
}
.submit-button:hover {
    background: #c09c71;
}
.s-btn-group .or-text {
    font-size: 14px;
    display: block;
    padding: 15px;
}
.google-button {
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #298eff;
    color: #fff;
}
.google-button:hover {
    background: #145daf;
}
.google-button svg {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.form-group i.show-icon {
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 20px;
    color: #b2b2b2;
    cursor: pointer;
}